# Ignore all files in the uploads and output directories
/uploads/pointages/*
/uploads/invoice/*
/output/*
# Ignore the __pycache__ directories
__pycache__/*
data_processors/__pycache__/*
# Ignore test files
/test/*